{{!-- Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
either express or implied. See the License for the
specific language governing permissions and limitations
under the License. --}}

{{#zone "main"}}
    <form class="form-login-box" action="{{loginActionURL}}" method="POST" onsubmit="return validate();">
        <div class="row">
            <div class="container col-md-8 wr-text">
                <!-- start of validation -->
                <div id="enrollment-error-msg" class="alert alert-danger hidden" role="alert">
                    <span></span>
                </div>
                <!-- end of validation -->
                <div class="wr-input-control">
                    <label class="input-label" for="username">
                        Username *
                    </label>
                    <input id="username" name="username" type="text" class="form-control" maxlength="30" placeholder="Enter your username here"/>
                </div>
                <br class="c-both" />
                <div class="wr-input-control">
                    <label class="input-label" for="password">
                        Password *
                    </label>
                    <input id="password" name="password" type="password" class="form-control" maxlength="30" placeholder="Enter your password here"/>
                </div>
                <br class="c-both" />
                <div class="radio">
                    <label class="input-label">
                        <input type="radio" name="ownership" value="BYOD" checked>
                        &nbsp; BYOD (This is my own device)
                    </label>
                </div>
                <div class="radio">
                    <label class="input-label">
                        <input type="radio" name="ownership" value="COPE">
                        &nbsp; COPE (This is a corporate device)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container col-md-4 wr-buttons">
                <a href="#" class="btn-download-agent">Login</a>
            </div>
        </div>
    </form>
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/login-box-agent.js"></script>
{{/zone}}