<div class="row no-gutter">
    <div class="wr-hidden-operations-nav col-lg-4">
        <a href="javascript:void(0)" onclick="showAdvanceOperation('passcode-policy', this)" class="selected">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-key fw-stack-2x"></i>
                </span>
            Passcode Policy
            <span id="passcode-policy-ok" class="has-success status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="passcode-policy-error" class="has-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('camera', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-block fw-stack-2x"></i>
                </span>
            Restrictions on Camera
            <span id="restrictions-ok" class="has-success status-icon hidden"><i class="fw fw-ok"></i></span>
            <span class="restrictions-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('encrypt-storage', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-gadget fw-stack-2x"></i>
                </span>
            Encryption Settings
            <span id="encrypt-storage-ok" class="has-success status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="encrypt-storage-error" class="encryption-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('wifi', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-wifi fw-stack-2x"></i>
                </span>
            Wi-Fi Settings
            <span id="wifi-ok" class="has-success status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="wifi-error" class="has-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <!--<a href="javascript:void(0)" onclick="showAdvanceOperation('install-apps', this)">-->
                <!--<span class="wr-hidden-operations-icon fw-stack">-->
                    <!--<i class="fw fw-application fw-stack-2x"></i>-->
                <!--</span>-->
            <!--App Installations-->
        <!--</a>-->
        <!--<a href="javascript:void(0)" onclick="showAdvanceOperation('blacklist-apps', this)">-->
                <!--<span class="wr-hidden-operations-icon fw-stack">-->
                    <!--<i class="fw fw-block fw-stack-2x"></i>-->
                <!--</span>-->
            <!--App Blacklisting-->
        <!--</a>-->
        <!--<a href="javascript:void(0)" onclick="showAdvanceOperation('web-clips', this)">-->
                <!--<span class="wr-hidden-operations-icon fw-stack">-->
                    <!--<i class="fw fw-website fw-stack-2x"></i>-->
                <!--</span>-->
            <!--Web clips-->
        <!--</a>-->
    </div>

    <div class="wr-hidden-operations-content col-lg-8">
        <!-- passcode-policy -->
        <div class="wr-hidden-operation" data-operation="passcode-policy" style="display: block">
            <div class="panel panel-default operation-data" data-operation="passcode-policy" data-operation-code="PASSCODE_POLICY">
                <div class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Passcode Policy
                        <label id="passcode-policy-lbl" class="wr-input-control switch" data-toggle="collapse" data-target="#passCodePolicy">
                            <input type="checkbox" />
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                        <hr>
                        <div class="panel-title-description">
                            This configuration can be used to set a passcode policy to an Android Device.
                            Once this configuration profile is installed on a device, corresponding users will not be able
                            to modify these settings on their devices.
                        </div>
                    </h2>
                </div>
                <div id="passCodePolicy" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="passCodePolicy">

                    <div id="passcode-policy-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="allowSimple" type="checkbox" class="form-control operationDataKeys" data-key="allowSimple" checked="checked" />
                            <span class="helper" title="Permit the use of repeating, ascending and descending character sequences">
                                &nbsp;&nbsp;&nbsp;Allow simple value
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="requireAlphanumeric" type="checkbox" class="form-control operationDataKeys" data-key="requireAlphanumeric" checked="checked" />
                            <span class="helper" title="Require passcode to contain both letters and numbers">
                                &nbsp;&nbsp;&nbsp;Require alphanumeric value
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label col-sm-4" for="minLength">
                            Minimum passcode length
                            <span class="helper" title="Minimum number of characters allowed in a passcode">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <!--<input id="minLength" type="text" class="form-control operationDataKeys" data-key="minLength" placeholder="Enter minimum passcode length">-->
                        <select id="minLength" class="form-control operationDataKeys" data-key="minLength">
                            <option value="" selected="selected">
                                None
                            </option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label col-sm-4" for="minComplexChars">
                            Minimum complex characters
                            <span class="helper" title="Minimum number of complex or non-alphanumeric characters allowed in a passcode">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <!--<input id="minComplexChars" type="text" class="form-control operationDataKeys" data-key="minComplexChars" placeholder="Enter minimum number of complex characters">-->
                        <select id="minComplexChars" class="form-control operationDataKeys" data-key="minComplexChars">
                            <option value="" selected="selected">
                                None
                            </option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                        </select>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label col-sm-4" for="lockcode">
                            Maximum passcode age in days
                            <span class="helper" title="Number of days after which a passcode must be changed">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <!--<input type="text" class="form-control operationDataKeys" id="maxPINAgeInDays" data-key="maxPINAgeInDays" placeholder="Enter maximum passcode age in days">-->
                        <select id="maxPINAgeInDays" class="form-control operationDataKeys" data-key="maxPINAgeInDays">
                            <option value="" selected="selected">
                                None
                            </option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="14">14</option>
                            <option value="21">21</option>
                            <option value="28">28</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label col-sm-4" for="pinHistory">
                            Passcode history
                            <span class="helper" title="Number of consequent unique passcodes to be used before reuse">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <!--<input type="text" class="form-control operationDataKeys" id="pinHistory" data-key="pinHistory" placeholder="Enter Passcode history">-->
                        <select id="pinHistory" class="form-control operationDataKeys" data-key="pinHistory">
                            <option value="" selected="selected">
                                None
                            </option>
                            <option value="5">05</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="35">35</option>
                            <option value="40">40</option>
                            <option value="45">45</option>
                            <option value="50">50</option>
                        </select>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label col-sm-4" for="maxFailedAttempts">
                            Maximum number of failed attempts
                            <span class="helper" title="Maximum number of passcode entry attempts allowed before all data on a device will be erased">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <!--<input type="text" class="form-control operationDataKeys" id="maxFailedAttempts" data-key="maxFailedAttempts" placeholder="Enter maximum number of failed attempts">-->
                        <select id="maxFailedAttempts" class="form-control operationDataKeys" data-key="maxFailedAttempts">
                            <option value="" selected="selected">
                                None
                            </option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- /passcode-policy -->

        <!-- Restrictions -->
        <div class="wr-hidden-operation" data-operation="camera">
            <div class="panel panel-default operation-data" data-operation="camera" data-operation-code="CAMERA">
                <div class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Restrictions on Camera
                        <label class="wr-input-control switch" data-toggle="collapse" data-target="#cameraDisable">
                            <input type="checkbox" />
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                        <hr>
                        <div class="panel-title-description">
                            This configuration can be used to restrict the usage of camera on an Android device together with all apps using the camera.
                            Once this configuration profile is installed on a device, corresponding users will not be able
                            to modify these settings on their devices.
                        </div>
                    </h2>
                </div>
                <div id="cameraDisable" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="cameraDisable">
                    <div id="camera-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    <div class="wr-input-control">
                        Un-check following checkbox in case you need to disable camera.
                        <br>
                        <br>
                        <label class="wr-input-control checkbox">
                            <input id="enableCamera" type="checkbox" class="operationDataKeys" data-key="enableCamera" checked="checked" />
                            <span class="helper" title="Having this checked would enable Usage of phone camera in the device">
                                &nbsp;&nbsp;&nbsp;Allow usage of camera
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- /Restrictions -->

        <!-- encrypt-storage -->
        <div class="wr-hidden-operation" data-operation="encrypt-storage">
            <div class="panel panel-default operation-data" data-operation="encrypt-storage" data-operation-code="ENCRYPT_STORAGE">
                <div class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Encryption Settings
                        <label class="wr-input-control switch" data-toggle="collapse" data-target="#enableEncryptionTab">
                            <input type="checkbox" />
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                        <hr>
                        <div class="panel-title-description">
                            This configuration can be used to encrypt data on an Android device, when the device is locked and
                            make it readable when the passcode is entered. Once this configuration profile is installed on a device,
                            corresponding users will not be able to modify these settings on their devices.
                        </div>
                    </h2>
                </div>
                <div id="enableEncryptionTab" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="enableEncryptionTab">
                    <div id="encrypt-storage-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    <div class="wr-input-control">
                        Un-check following checkbox in case you need to disable storage-encryption.
                        <br>
                        <br>
                        <label class="wr-input-control checkbox">
                            <input id="enableEncryption" type="checkbox" class="operationDataKeys" data-key="enableEncryption" checked="checked" />
                            <span class="helper" title="Having this checked would enable Storage-encryption in the device">
                                &nbsp;&nbsp;&nbsp;Enable storage-encryption
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- /encrypt-storage -->

        <!-- wi-fi -->
        <div class="wr-hidden-operation" data-operation="wifi">
            <div class="panel panel-default operation-data" data-operation="wifi" data-operation-code="WIFI">
                <div class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Wi-Fi Settings
                        <label class="wr-input-control switch" data-toggle="collapse" data-target="#wifi">
                            <input type="checkbox" />
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                        <hr>
                        <div class="panel-title-description">
                            This configurations can be used to configure Wi-Fi access on an Android device.
                            Once this configuration profile is installed on a device, corresponding users will not be able
                            to modify these settings on their devices.
                        </div>
                    </h2>
                </div>
                <div id="wifi" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="wifi">
                    <div id="wifi-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    Please note that * sign represents required fields of data.
                    <br>
                    <br>
                    <label class="wr-input-label" title="Identification of the wireless network to be configured">
                        Service Set Identifier (SSID) * <br>
                        ( should be 1-to-30 characters long )
                        <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                    </label>
                    <!--span>Identification of the wireless network to connect to</span-->
                    <div class="wr-input-control">
                        <input id="ssid" type="text" class="form-control operationDataKeys" data-key="ssid" placeholder="[ Required field ]"/>
                    </div>

                    <label class="wr-input-label" title="Password for the wireless network">Password<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>
                    <!--span>Password for the wireless network</span-->
                    <div class="wr-input-control">
                        <input id="password" type="password" class="form-control operationDataKeys" data-key="password" placeholder="[ Optional field ]"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- /wi-fi -->

        <!--&lt;!&ndash; install-applications &ndash;&gt;-->
        <!--<div class="wr-hidden-operation" data-operation="install-apps">-->
            <!--<div class="panel panel-default operation-data" data-operation="INSTALL_APPLICATION">-->
                <!--<div class="panel-heading" role="tab">-->
                    <!--<h2 class="sub-title panel-title">-->
                        <!--<br>-->
                        <!--&nbsp;&nbsp;&nbsp;App Installations-->
                        <!--<label class="wr-input-control switch" data-toggle="collapse" data-target="#installApp">-->
                            <!--<input type="checkbox" />-->
                            <!--<span class="helper"></span>-->
                            <!--<span class="text"></span>-->
                        <!--</label>-->
                        <!--<br>-->
                        <!--<br>-->
                    <!--</h2>-->
                <!--</div>-->
                <!--<div id="installApp" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="installApp">-->
                    <!--<div id="install-app-feature-error-msg" class="alert alert-danger hidden" role="alert">-->
                        <!--<i class="icon fw fw-error"></i><span></span>-->
                    <!--</div>-->
                    <!--<label class="wr-input-label" title="Application Identifier">App Identifier<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>-->

                    <!--<div class="wr-input-control">-->
                        <!--<input type="text" class="form-control operationDataKeys" id="package-name" data-key="packageName" placeholder="Enter App Identifier"/>-->
                    <!--</div>-->
                    <!--<div class="wr-input-control">-->
                        <!--<label class="wr-input-control dropdown">-->
                            <!--<span class="helper" title="App Type">App Type<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>-->
                            <!--<select class="form-control col-sm-8 operationDataKeys appTypesInput" id="type" data-key="type">-->
                                <!--<option>Public</option>-->
                                <!--<option>Enterprise</option>-->
                            <!--</select>-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<label class="wr-input-label" title="URL">URL<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>-->

                    <!--<div class="wr-input-control">-->
                        <!--<input type="text" class="form-control operationDataKeys" id="url" data-key="url" placeholder="Enter URL"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /install-applications &ndash;&gt;-->

        <!--&lt;!&ndash; /uninstall-applications &ndash;&gt;-->
        <!--<div class="wr-hidden-operation" data-operation="uninstall-apps">-->
            <!--<div class="panel panel-default operation-data" data-operation="UNINSTALL_APPLICATION">-->
                <!--<div class="panel-heading" role="tab">-->
                    <!--<h2 class="sub-title panel-title">-->
                        <!--<br>-->
                        <!--&nbsp;&nbsp;&nbsp;App Uninstallations-->
                        <!--<label class="wr-input-control switch" data-toggle="collapse" data-target="#uninstallApp">-->
                            <!--<input type="checkbox" />-->
                            <!--<span class="helper"></span>-->
                            <!--<span class="text"></span>-->
                        <!--</label>-->
                        <!--<br>-->
                        <!--<br>-->
                    <!--</h2>-->
                <!--</div>-->
                <!--<div id="uninstallApp" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="uninstallApp">-->
                    <!--<div id="uninstall-app-feature-error-msg" class="alert alert-danger hidden" role="alert">-->
                        <!--<i class="icon fw fw-error"></i><span></span>-->
                    <!--</div>-->
                    <!--<label class="wr-input-label" title="Application Identifier">App Identifier<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>-->
                    <!--&lt;!&ndash;span>Identification of the wireless network to connect to</span&ndash;&gt;-->
                    <!--<div class="wr-input-control">-->
                        <!--<input type="text" class="form-control operationDataKeys" id="package-name" data-key="packageName" placeholder="Enter App Identifier"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /uninstall-applications &ndash;&gt;-->

        <!--&lt;!&ndash; /web-clips &ndash;&gt;-->
        <!--<div class="wr-hidden-operation" data-operation="web-clips">-->
            <!--<div class="panel panel-default operation-data" data-operation="WEBCLIP">-->
                <!--<div class="panel-heading" role="tab">-->
                    <!--<h2 class="sub-title panel-title">-->
                        <!--<br>-->
                        <!--&nbsp;&nbsp;&nbsp;Web clips-->
                        <!--<label class="wr-input-control switch" data-toggle="collapse" data-target="#installWebClip">-->
                            <!--<input type="checkbox" />-->
                            <!--<span class="helper"></span>-->
                            <!--<span class="text"></span>-->
                        <!--</label>-->
                        <!--<br>-->
                        <!--<br>-->
                    <!--</h2>-->
                <!--</div>-->
                <!--<div id="installWebClip" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="installWebClip">-->
                    <!--<div id="install-webclip-feature-error-msg" class="alert alert-danger hidden" role="alert">-->
                        <!--<i class="icon fw fw-error"></i><span></span>-->
                    <!--</div>-->
                    <!--<label class="wr-input-label" title="Title of the web clip">Title<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>-->
                    <!--<div class="wr-input-control">-->
                        <!--<input type="text" class="form-control operationDataKeys" id="title" data-key="title" placeholder="Enter Title"/>-->
                    <!--</div>-->
                    <!--<label class="wr-input-label" title="URL">URL<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>-->
                    <!--<div class="wr-input-control">-->
                        <!--<input type="text" class="form-control operationDataKeys" id="url" data-key="url" placeholder="Enter URL"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /web-clips &ndash;&gt;-->
    </div>
</div>