.col-centered{
    float: none;
    margin: 0 auto;
}
.device-operation{
	width:100px;
	float:left;
	margin-right:10px;
	margin-bottom:5px;
}
.device-operation p{
	text-align: center;
}

.device-model-holder {
	padding:5px;
}
.device-model-holder img{
	display:block;
    margin:auto;
}

.device-static-data {
	margin-left:10px;
}