{{#zone "bottomLibJs"}}
    <script src="{{self.publicURL}}/js/js.cookie.js"></script>
    <script src="{{self.publicURL}}/js/invoker-lib.js"></script>

    <div id="error-msg" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                        <span class="fw-stack">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw fw-error fw-stack-1x"></i>
                        </span>
                        Unauthorized action!
                    </h3>
                </div>
            </div>
        </div>
    </div>
{{/zone}}