{{#zone "main"}}
    <div class="row">

        <div class="container col-md-4 wr-buttons">
            <a href="itms-services://?action=download-manifest&url=itms-services://?action=download-manifest&url={{self.publicURL}}/asset/ios-agent.ipa" class="btn-download-agent">Download Agent</a>
        </div>

    </div>
{{/zone}}