{{layout "enrollment"}}

{{#zone "main"}}
    <div>
        <div class="row">
            <div class="container col-md-8 wr-text">
                <div class="wr-agreement">
                    {{defineZone "licenseZone"}}
                </div>
            </div>
            <div class="container col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="container col-md-4 wr-buttons">
                <a href="/mdm/controller/enroll" class="btn-download-agent">I Accept</a>
                <!--<button id="accept-license-btn">I Accept</button>-->
                <!--<a href="#" class="btn-download-agent">I Accept</a>-->
            </div>
            <div class="container col-md-9">

            </div>
        </div>
    </div>
{{/zone}}

{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/bottomJs.js"></script>
{{/zone}}