<div class="wr-app-listing">
    <ul class="tiles">
        {{#each applications}}
            <li class="square">
                <a class="btn square-element">
                    <span class="icon fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-android fw-stack-1x"></i>
                    </span>
                    {{name}}
                </a>
            </li>
        {{/each}}
    </ul>
</div>