<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="error" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/windows_mdm_error.log"/>
        <param name="Threshold" value="error"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %-5p %c{1} - [%x] %m%n"/>
        </layout>
    </appender>

    <appender name="debug" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/windows_mdm_debug.log"/>
        <param name="Threshold" value="debug"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %-5p %c{1} - [%x] %m%n"/>
        </layout>
    </appender>

    <appender name="trans" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/windows_mdm__trans.log" />
        <param name="Threshold" value="info" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

    <category name="org.apache.cxf" additivity="false">
        <priority value="trace"/>
        <appender-ref ref="debug"/>
        <appender-ref ref="error"/>
    </category>

    <category name="org.springframework" additivity="false">
        <priority value="info"/>
        <appender-ref ref="error"/>
    </category>

    <root>
        <appender-ref ref="debug"/>
        <appender-ref ref="error"/>
    </root>

</log4j:configuration>
