{{#zone "brand"}}
    <img src="{{self.publicURL}}/img/logo.png"/>
    <h2 class="app-title"><span>Enterprise Mobility Manager</span></h2>
{{/zone}}
{{#zone "favicon"}}
    <link rel="shortcut icon" type="image/png" href="{{self.publicURL}}/img/favicon.png"/>
{{/zone}}

