{{#zone "main"}}
    <div class="row wr-wizard">
        {{ defineZone "wizard-list"}}
    </div>
{{/zone}}
{{#zone "topCss"}}
    <link rel="stylesheet" href="{{self.publicURL}}/css/wizard.css">
{{/zone}}