{{#zone "main"}}
    <div class="row wr-device-board">
        <div class="col-lg-12 wr-secondary-bar">
            <span class="page-sub-title">Users</span>
        </div>
    </div>
    <!-- content -->
    <div id="loading-content" class="col-centered">
        {{#if removePermitted}}
            <input type="hidden" id="can-remove" value="true"/>
        {{/if}}
        {{#if editPermitted}}
            <input type="hidden" id="can-edit" value="true"/>
        {{/if}}
        <i class="fw fw-settings fw-spin fw-2x"></i>
        &nbsp;&nbsp;&nbsp;
        Loading users . . .
        <br>
    </div>
    <div class="container-fluid">
        <span id="user-listing-status-msg"></span>
        <div id="user-table">
            <table class="table table-striped table-hover list-table display responsive nowrap data-table table-selectable grid-view"
                   id="user-grid">
                <thead>
                <tr class="sort-row">
                    <th class="no-sort"></th>
                    <th class="no-sort"></th>
                    <th>By Username</th>
                    <th class="no-sort"></th>
                    <th class="no-sort"></th>
                </tr>
                <tr class="filter-row filter-box">
                    <th colspan="4">
                        <label class="wr-input-label" for="search-by-username">
                            By Username
                        </label>
                        <input id="search-by-username" type="text" class="form-control"
                               placeholder="Search By Username">
                    </th>
                    <th style="vertical-align:bottom;">
                        <button id="search-btn" class="wr-btn">
                            Search</button>
                    </th>
                </tr>
                <tr class="bulk-action-row">
                    <th colspan="5">
                        <ul class="tiles">
                            <li class="square">
                                <a href="#" data-click-event="remove-form" class="btn square-element invite-user-link"
                                   data-toggle="modal" data-target="#modalDemo">
                                    <span class="icon fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-invitation fw-stack-1x"></i>
                                    </span>
                                    Invite Selected
                                </a>
                            </li>
                        </ul>
                    </th>
                </tr>
                </thead>
                <tbody id="ast-container">

                <br class="c-both"/>
                </tbody>
            </table>
        </div>
    </div>
    <br class="c-both"/>
    <div id="content-filter-types" style="display: none">
        <div class="sort-title">Sort By</div>
        <div class="sort-options">
            <a href="#">By Username</a>
        </div>
    </div>

    <div id="invite-user-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                        An invitation mail will be sent to the selected user(s) to initiate an enrolment process.
                        Do you wish to continue ?
                    </h3>

                    <div class="buttons">
                        <a href="#" id="invite-user-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;yes&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="invite-user-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="invite-user-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>User invitation email for enrollment was successfully sent.</h3>

                    <div class="buttons">
                        <a href="#" id="invite-user-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="invite-user-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>An unexpected error occurred. Try again later.</h3>

                    <div class="buttons">
                        <a href="#" id="invite-user-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-user-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Do you really want to remove this user ?</h3>

                    <div class="buttons">
                        <a href="#" id="remove-user-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Remove&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="remove-user-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-user-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Done. User was successfully removed.</h3>

                    <div class="buttons">
                        <a href="#" id="remove-user-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-user-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>An unexpected error occurred. Please try again later.</h3>

                    <div class="buttons">
                        <a href="#" id="remove-user-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="errorUsers" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                        Operation cannot be performed !
                    </h3>
                    <h4>
                        Please select a user or a list of users to send invitation emails.
                    </h4>

                    <div class="buttons">
                        <a href="javascript:hidePopup()" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/zone}}
{{#zone "common-navigation"}}
    <!--Later add the navigation menu from here-->
{{/zone}}
{{#zone "bottomJs"}}
    <script id="user-listing" data-current-user="{{currentUser.username}}"
            src="{{self.publicURL}}/templates/user-listing.hbs"
            type="text/x-handlebars-template"></script>
    <script src="{{self.publicURL}}/js/user-listing.js"></script>
{{/zone}}
