{{#zone "topCss"}}
    <link rel="stylesheet" href="{{self.publicURL}}/less/login-input.css">
{{/zone}}

{{#zone "main"}}
    <form class="{{self.class}}">
        <input type="text" class="form-control" placeholder="User Name" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
        <label class="pull-left">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <a href="#" class="pull-right create-account">Create an account</a>
    </form>
{{/zone}}
