/* */

.wr-asset-type-switcher {
    float:left;
    padding-right:0px;
}

a.ctrl-asset-type-switcher {
    display:inline-block;
    height:54px;
    padding:0px 0 0px 0px;
    font-size:18px;
    color:#fff;
    text-decoration: none;
    font-weight:100;
}

a.ctrl-asset-type-switcher:hover {
    color:#fff;
}

.wr-asset-type-switcher span {
    float:left;
}

.wr-asset-type-switcher span.btn-asset {
    width:54px;
    height:54px;
    margin-right:0px;
    display:inline-block;
    background:#5d81d2 url('../images/icons/ico-menu.png') 1em 1em no-repeat;
}

.wr-asset-type-switcher span.btn-asset:hover {
    background-color:#6b94f1;
}

.wr-asset-type-switcher span.btn-text {
    padding-top:14px;
}

a.ast-type-item {
    width:77px;
    height:77px;
    background:#696969;
    display:block;
    margin:5px;
    float:left;
    text-align: center;
    color:#e4e4e4;
    text-decoration: none;
}

a.ast-type-item:hover {
    background:#3f75ff;
    cursor: pointer;
}

.wr-action-container {
    padding-left:0;
}

.wr-action-btn-bar {
    padding-top:0px;
}

/* device board */
.wr-device-board {
    background:#fafafa;
    padding:10px 0px;
    font-size:20px;
    margin-bottom:10px;
}

.wr-device-board label {
    font-weight:100;
}

.lbl-device {
    font-size:14px;
    color:#777;
}

/* operations panel/board */
.wr-operations-board {
    background:#fafafa;
    margin-bottom:10px;
}

.wr-operations-board:hover {
    background:#f0f0f0;
}


/* operations */
.wr-operations {
    clear:both;
    margin-left:17px;
    border-bottom:1px solid #f0f0f0;
}

.wr-operations a {
    display:inline-block;
    float: left;
    text-align: center;
    font-size:12px;
    text-decoration: none;
    margin-right:10px;
    color:#6b94f1;
    width:70px;
    border:1px solid #fafafa;
    background:#fafafa;
    border-radius: 4px;
    padding-bottom:4px;
    margin-bottom:10px;
}

.wr-operations a:hover {
    background:#444;
}

.wr-operations span {
    display:block;
}


/* assets */

.wr-select-all {
    clear:both;
    margin-bottom:10px;
}

a.btn-select-devices {
    font-weight: normal;
    font-size:13px;
    color:#fff;
    background:#6b94f1;
    padding:10px 10px;
    display:inline-block;
    margin-right:20px;
}

a.btn-select-devices:hover {
    text-decoration: none;
    background-color:#6b94f1;
}

.ast-container {
    clear:both;
    padding-top:20px;
    padding-left:20px;
}

.ast-container .itm-ast {
    float:left;
    margin-bottom:10px;
}

.ctrl-wr-asset {
    position:relative;
    width:160px;
    height:295px;
    float:left;
    margin-right:22px;
    border:0px solid #e4e4e4;
    padding:10px;
    background:#fbfbfb;
    margin-bottom:15px;
    border-bottom:4px solid #fff;
}

.ctrl-wr-asset.selected {
    background: #eaf0f1;
    border-bottom:4px solid #6b94f1;
}

.ctrl-wr-asset:hover {
    background: #eaf0f1;
    border-bottom:4px solid #6b94f1;
}

.itm-select {
    position:absolute;
    left:128px;
    background:#fafafa;
    width:22px;
    height:22px;
    padding-left:7px;
}

.itm-ast {
    display:block;
    cursor: pointer;
    padding:0;
    margin-bottom:0px;
    width:100%;
    border:0px solid #ff0000;
    height:295px;
}

.itm-ast:hover h3, .itm-ast:hover .ast-auth {
    color:#3f75ff;
}

.ast-img img {
    float:left;
    width:140px;
    height:140px;
}

.ast-desc {
    float:left;
    margin-left:0px;
    overflow:hidden;
}

h3.ast-name {
    font-weight:300;
    font-size:20px;
    color:#555;
    margin-top:12px;
    margin-bottom:3px;
}

.ast-ver {
    font-weight:300;
    font-size:13px;
}

.ast-auth {
    font-weight:300;
    font-size:13px;
    color:#237bd5;
    display:block;
    margin-bottom:12px;
}

.ast-published {
    font-weight:300;
    font-size:12px;
    display:block;
    text-align: left;
    color:#aaa;
}

/* tooltip */
.tooltip {
    opacity: 1;
    filter: alpha(opacity=100);
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: #333;
    border-width: 5px 5px 0;
}

.tooltip-inner {
    color: #fff;
    background: #333;
    border: solid 1px #333;
    border-radius: 0px;
}

/* filter */
a.filter-item {
    color:#e4e4e4;
    text-transform: uppercase;
    text-decoration: none;
    display:block;
    font-size:12px;
    padding:3px 0px;
    font-weight: 100;
    cursor: pointer;
}

a.filter-item:hover {
    text-decoration: none;
    color:#fff;
}


/* action buttons */
a.cu-btn {
    color:#fff;
    text-decoration: none;
    border:0px solid #ff0000;
    padding:17px 10px 16px 45px;
    margin:0 0 0 0px;
    font-weight:100;
    display:inline-block;
    text-transform: uppercase;
    background-size: 26px 26px;
}

a.cu-btn:hover {
    background-color:#555;
}

.btn-add-new {
    background:url('../images/icons/ico-add-new.png') 0.8em 1em no-repeat;
}

.btn-prev {
    background:url('../images/icons/ico-prev.png') 0.8em 1em no-repeat;
}

a.cu-ico-right-button {
    display:inline-block;
    color:#fff;
    font-size:13px;
    padding:5px 36px 5px 0px;
}

a.cu-ico-button-user {
    background:url('../images/icons/ico-user.png') right  no-repeat;
}

a.cu-ico-button-stats {
    background:url('../images/icons/ico-meter.png') right  no-repeat;
}


/* filter */
.wr-filters {
    padding:15px 20px 10px 18px;
}

.wr-filters-right {
    padding:22px 20px 15px 18px;
}

.wr-secondary-bar {
    border-bottom:0px solid #f0f0f0;
    padding-right:0px;
}

.wr-filter-sort a.ico-filter {
    display:inline-block;
    width:40px;
    height:40px;
    padding:5px;
}

.wr-filter-sort a.ico-filter:hover {
    background:#e4e4e4;
}


.sort-title, .sort-options {
    padding:0px 15px;
}

.sort-title {
    color:#e4e4e4;
    font-size:11px;
    padding-bottom:5px;
    padding-top:5px;
    margin-bottom:5px;
}

.sort-options > a {
    display:block;
    text-decoration: none;
    color:#cecece;
    text-transform: uppercase;
    font-size:12px;
    padding:4px 0px;
    font-weight: 100;
}


/* asset filter window styles */
.wr-asset-type-switcher .popover.menu {
    display:none;
    top: 69px;
    left: 20px !important;
}

.wr-asset-type-switcher .popover.menu .arrow {
    left: 27px !important;
}

.wr-asset-type-switcher .popover.menu .popover-content {
    padding: 10px;
}

.wr-asset-type-switcher .popover.menu .popover-content .title {
    font-family: 'Open Sans';
    font-size: 16px;
    color:#ffffff;
    font-weight: 100;
    margin: 0 4px 4px 4px;
}

.wr-asset-type-switcher ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wr-asset-type-switcher ul:after {
    clear: both;
    content: " ";
    height: 0;
    display: block;
}

.wr-asset-type-switcher ul li, .wr-asset-type-switcher ul a {
    display: block;
    float: left;
    margin: 4px;
    padding: 0;
    list-style: none;
    width:80px;
    height:80px;
    text-align: center;
    vertical-align: text-bottom;
    color:#e4e4e4;
    text-decoration: none;
}

.wr-asset-type-switcher ul a {
    background-position: 50% 50%;
    cursor: pointer;
    width:40px;
    height:40px;
    margin:20px 0 5px 5px;
}
.wr-asset-type-switcher ul a:hover {
    background-color: transparent;
    opacity: 0.6;
}

.wr-asset-type-switcher ul ul { display: none; }

.wr-asset-type-switcher ul.options {
    border-top: 1px solid #ffffff;
    margin-top:5px;
    padding:5px 0 0 0;
}
.wr-asset-type-switcher ul li:hover {
    background:#3f75ff;
    cursor: pointer;
}

/* asset filter tags on search field styles */
.wr-search-tags {
    display:inline-block;
}

.wr-search-tags span {
    color: #ffffff;
    background: #6b94f1;
    font-size: 11px;
    display: inline-block;
    cursor: pointer;
    padding: 6px 6px;
    margin: 0 1px;
    border-radius: 2px;
}

.wr-search-tags span:hover {
    background: #eaf0f1;
    color: #6b94f1;
}

#asset-selected .selected li {
    background: #696969;
    color: #ffffff;
}

/* search */
.wr-search {
    margin-left:0px;
    border:0px solid #ff0000;
    padding:6px 0px 7px 10px;
    background:#bbb;
}

.wr-search input {
    background:#bbb;
    width:600px;
    border:1px solid #bbb;
    color:#fff;
    font-size:18px;
    font-weight: 100;
    padding:7px 0px 7px 15px;
}

.btn-search {
    display:inline-block;
    font-size:20px;
    font-weight:500;
    color:#333;
    background:#bbb;
    position:relative;
    padding:5px 10px;
    right:10px;
}

.wr-search .glyphicon {
    color:#fff;
}

.wr-filters div.wr-filter-category, .wr-filters div.wr-search {
    float:left;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}
 
