{{#zone "header"}}
    <!-- header -->
    <header>
        <div class="row wr-global-header">
            <div class="col-xs-8 col-sm-6 col-lg-8 app-logo">
                <a href="{{homeLink}}">{{ defineZone "brand"}}</a>
            </div>
            <div class="col-xs-4 col-sm-6 col-lg-4 wr-auth-container">
                {{#if user}}
                    <div class="wr-auth pull-right">
                        <a href="#" data-toggle="dropdown">
                            <div class="auth-img">
                                <span class="fw-stack-md fw-lg">
                                    <i class="fw fw-user fw-stack-1-5x"></i>
                                </span>
                                &nbsp;
                                <b>{{user.username}}</b>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <div class="cu-arrow"></div>
                            <div class="dropdown-menu-content">
                                <a href="{{logoutURL}}" class="filter-item">Logout</a>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </header>
    <!-- /header -->
{{/zone}}