{{#zone "header"}}
    <header>
        <div class="row wr-global-header">
            <div class="col-xs-8 col-sm-6 col-lg-8 app-logo">
                <a href="/mdm">{{ defineZone "brand"}}</a>
            </div>
            <div class="col-xs-4 col-sm-6 col-lg-4 wr-auth-container">
                <div class="wr-auth pull-right">
                    <a href="#" data-toggle="dropdown" class="">
                        <div class="auth-img">
                            <span>Dhanuka</span><img src="{{self.publicURL}}/img/ico-user.png" />
                        </div>
                    </a>
                    <div class="dropdown-menu">
                        <div class="cu-arrow"></div>
                        <div class="dropdown-menu-content">
                            <a class="filter-item">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{{/zone}}