{{!--
    @deprecated
--}}

{{#zone "licenseZone"}}
    <h4>License Agreement</h4>

    {{license}}
{{/zone}}

{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/license-agreement-box-enrollment.js"></script>
{{/zone}}