<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DssTestSuite" parallel="false">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="EMM-Integration-Test" parallel="false" verbose="2">

        <packages>

        </packages>

        <classes>
            <class name="org.wso2.emm.ui.integration.test.ManagementConsoleLoginTestCase"/>
            <class name="org.wso2.emm.ui.integration.test.login.MDMLoginTestCase"/>
        </classes>

    </test>
</suite>
