<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:httpj="http://cxf.apache.org/transports/http-jetty/configuration"
       xmlns:sec="http://cxf.apache.org/configuration/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://cxf.apache.org/transports/http/configuration
       http://cxf.apache.org/schemas/configuration/http-conf.xsd
       http://cxf.apache.org/transports/http-jetty/configuration
       http://cxf.apache.org/schemas/configuration/http-jetty.xsd
       http://cxf.apache.org/transports/http/configuration
       http://cxf.apache.org/schemas/configuration/http-conf.xsd
       http://cxf.apache.org/transports/http-jetty/configuration
       http://cxf.apache.org/schemas/configuration/security.xsd
       http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-xml.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <context:property-placeholder location="classpath:windows-mdm-server.properties"/>

    <bean id="discoveryService" class="cdm.api.windows.impl.DiscoveryServiceImpl">
        <property name="discoveryServiceFileName" value="${discovery.service.file.location}"/>
    </bean>

    <bean id="userEnrollmentService" class="cdm.api.windows.impl.EnrolmentServiceImpl" init-method="init">
        <property name="enrollmentResponseFile" value="${enrollment.service.file.location}"/>
        <property name="responseFile" value="${policy.certificate.file.location}"/>
        <property name="wapProvisioningXmlFile" value="${enrollment.service.wap.provisioning.file.location}"/>
        <property name="privatePemKeyFilePath" value="./conf/ca_private.key"/>
        <property name="caCertificateFilePath" value="./conf/ca_cert.pem"/>
    </bean>

    <jaxrs:server name="windowsMDMRest" address="${service.url}">
        <jaxrs:serviceBeans>
            <ref bean="discoveryService"/>
            <ref bean="userEnrollmentService"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jaxbProvider"/>
        </jaxrs:providers>
    </jaxrs:server>

    <bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
    </bean>

</beans>