{{layout "fluid"}}
{{#zone "body"}}



    <!-- content/body -->
    <d
    iv class="row">
        <div class="col-md-12">
            

            <!-- content -->
            <div class="container col-md-12 col-centered wr-content">


                <!-- form content placeholder -->
                

            </div>
            <!-- /content -->


        </div>
    </div>
    <!-- /content/body -->
{{/zone}}