{{#zone "main"}}
    <div class="container col-md-12 col-lg-3 col-centered wr-content wr-login col-centered">

        <p class="page-sub-title">Login</p>
        <hr />

        <!-- validation -->
        <span class="wr-validation-summary hidden">
                <p>Login failed. Check your credentials and try again.</p>
        </span>
        <form method="POST" class="form-login-box" action="{{loginPath}}">

            <div class="wr-input-control">
                <label class="wr-input-label">Username *</label>
                <input name="username" id="username" class="form-control" type="text" value="" onkeypress="javascript:submitLoginForm()" placeholder="Enter your username here" />
            </div>

            <div class="wr-input-control">
                <label class="wr-input-label">Password *</label>
                <input name="password" id="password" class="form-control" type="password" value="" onkeypress="javascript:submitLoginForm()" placeholder="Enter your password here" />
            </div>
        </form>
        <div class="wr-input-control wr-btn-grp">
            <button class="wr-btn btn-download-agent">&nbsp;&nbsp;&nbsp;&nbsp;Log in&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>

    </div>
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/login-box.js"></script>
{{/zone}}