{{#zone "main"}}
    <div id="nav" class="row wr-app-bar">
        <div class="wr-action-container">
            <div class="wr-action-btn-bar">
                <!--<a href="javascript:history.go(-1)" class="cu-btn btn-prev">Go Back</a>-->
                {{defineZone "nav-link"}}
                <a href="javascript:openNotificationbar()" class="cu-btn btn-notification wr-notification-toggle-btn"><span class="wr-notification-bubble hidden"></span></a>
            </div>
        </div>
    </div>
    <!-- secondary header - app bar -->
{{/zone}}