{{#zone "main"}}
    <!-- secondary header - app bar -->
    <div id="nav" class="row wr-app-bar">
        <div class="col-md-9 wr-action-container">

            <div class="wr-action-btn-bar">
                <a href="#" class="cu-btn btn-add-new" data-toggle="tooltip" data-original-title="Enroll a new device" role="button">Enroll a Device</a>
                <a href="#" class="cu-btn btn-prev" data-toggle="tooltip" data-original-title="Go back to home" role="button">Go Back</a>
            </div>
        </div>
    </div>
    <!-- secondary header - app bar -->
{{/zone}}