{{#zone "main"}}
    {{#if permissions.VIEW_DASHBOARD}}
        {{#if permissions.LIST_DEVICES_ADMIN}}
            <div class="row ">
                <div class="col-md-3 wr-stats-board">
                    <div class="wr-stats-board-tile">
                        <div class="tile-name">Devices</div>
                        <div>
                            <div class="tile-icon"><i class="fw fw-mobile"></i></div>
                            <div class="tile-stats">
                                <span id="device-count" data-device-count="true">Loading...</span>
                            <span class="tile-stats-free">
                                <a id="device-count-view-btn" href="/emm/devices">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-view fw-stack-1x"></i>
                                    </span>
                                    View
                                </a>
                                <a href="javascript:toggleEnrollment()">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-add fw-stack-1x"></i>
                                    </span>
                                    Add
                                </a>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
        {{/if}}
        {{# if permissions.LIST_POLICIES}}
                <div class="col-md-3 wr-stats-board">
                    <div class="wr-stats-board-tile">
                        <div class="tile-name">Policies</div>
                        <div>
                            <div class="tile-icon"><i class="fw fw-policy"></i></div>
                            <div class="tile-stats">
                                <span id="policy-count" data-policy-count="true">Loading...</span>
                            <span class="tile-stats-free">
                                <a id="policy-count-view-btn" href="/emm/policies/">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-view fw-stack-1x"></i>
                                    </span>
                                    View
                                </a>
                                {{#if permissions.ADD_POLICY}}
                                    <a href="/emm/policies/add-policy">
                                        <span class="fw-stack">
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                            <i class="fw fw-add fw-stack-1x"></i>
                                        </span>
                                        Add
                                    </a>
                                {{/if}}
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
        {{/if}}
        {{# if permissions.LIST_USERS}}
                <div class="col-md-3 wr-stats-board">
                    <div class="wr-stats-board-tile">
                        <div class="tile-name">Users</div>
                        <div>
                            <div class="tile-icon"><i class="fw fw-user"></i></div>
                            <div class="tile-stats">
                                <span id="user-count" data-user-count="true">Loading...</span>
                            <span class="tile-stats-free">
                                <a id="user-count-view-btn" href="/emm/users/">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-view fw-stack-1x"></i>
                                    </span>
                                    View
                                </a>
                                {{#if permissions.ADD_USER}}
                                    <a href="/emm/users/add-user">
                                        <span class="fw-stack">
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                            <i class="fw fw-add fw-stack-1x"></i>
                                        </span>
                                        Add
                                    </a>
                                {{/if}}
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
        {{/if}}
        {{# if permissions.LIST_ROLES}}
                <div class="col-md-3 wr-stats-board">
                    <div class="wr-stats-board-tile">
                        <div class="tile-name">Roles</div>
                        <div>
                            <div class="tile-icon"><i class="fw fw-bookmark"></i></div>
                            <div class="tile-stats">
                                <span id="role-count" data-role-count="true">Loading...</span>
                            <span class="tile-stats-free">
                                <a id="device-count-view-btn" href="/emm/roles">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-view fw-stack-1x"></i>
                                    </span>
                                    View
                                </a>
                                {{#if permissions.ADD_ROLE}}
                                    <a href="/emm/roles/add-role">
                                        <span class="fw-stack">
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                            <i class="fw fw-add fw-stack-1x"></i>
                                        </span>
                                        Add
                                    </a>
                                {{/if}}
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    {{else}}
        Permission denied
    {{/if}}
    <div id="qr-code-modal" data-enrollment-url="{{enrollmentURL}}" class="hidden">

        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                        Scan QR code to start enrollment
                    </h3>
                    <h4>
                        Please scan the QR code using your mobile device to retrieve enrollment URL.
                    </h4>

                    <div class="panel panel-default">
                        <div class="panel-body col-centered ">
                            <div class="qr-code"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/dashboard.js"></script>
    <script src="{{self.publicURL}}/js/jquery.qrcode.min.js"></script>
{{/zone}}