<div class="row no-gutter">
    <div class="wr-hidden-operations-nav col-lg-4">
        <a href="javascript:void(0)" onclick="showAdvanceOperation('passcode-policy', this)" class="selected">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-key fw-stack-2x"></i>
                </span>
            Passcode Policy
            <span id="passcode-policy-configured" class="has-configured status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="passcode-policy-ok" class="has-success status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="passcode-policy-error" class="has-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('camera', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-block fw-stack-2x"></i>
                </span>
            Restrictions on Camera
            <span id="camera-configured" class="has-configured status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="camera-ok" class="has-success status-icon hidden"><i class="fw fw-ok"></i></span>
            <span class="camera-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('encrypt-storage', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-security fw-stack-2x"></i>
                </span>
            Encryption Settings
            <span id="encrypt-storage-configured" class="has-configured status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="encrypt-storage-ok" class="has-success status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="encrypt-storage-error" class="encryption-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('wifi', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-wifi fw-stack-2x"></i>
                </span>
            Wi-Fi Settings
            <span id="wifi-configured" class="has-configured status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="wifi-ok" class="has-success status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="wifi-error" class="has-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
    </div>

    <div class="wr-hidden-operations-content col-lg-8">
        <!-- passcode-policy -->
        <div class="wr-hidden-operation" data-operation="passcode-policy" style="display: block">
            <div class="panel panel-default operation-data" data-operation="passcode-policy" data-operation-code="PASSCODE_POLICY">
                <div id="passcode-policy-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Passcode Policy
                        <label id="passcode-policy-lbl" class="wr-input-control switch hidden" data-toggle="collapse" data-target="#passcode-policy-body">
                            <input type="checkbox" />
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                        <hr>
                        <div class="panel-title-description">
                            This configuration can be used to set a passcode policy to an Android Device.
                            Once this configuration profile is installed on a device, corresponding users will not be able
                            to modify these settings on their devices.
                        </div>
                    </h2>
                </div>
                <div id="passcode-policy-body" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="passcode-policy-body">

                    <div id="passcode-policy-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="passcode-policy-allow-simple" type="checkbox" class="form-control operationDataKeys" data-key="passcodePolicyAllowSimple" checked="checked" disabled/>
                            <span class="helper" title="Permit the use of repeating, ascending and descending character sequences">
                                &nbsp;&nbsp;&nbsp;Allow simple value
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="passcode-policy-require-alphanumeric" type="checkbox" class="form-control operationDataKeys" data-key="passcodePolicyRequireAlphanumeric" checked="checked" disabled/>
                            <span class="helper" title="Require passcode to contain both letters and numbers">
                                &nbsp;&nbsp;&nbsp;Require alphanumeric value
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcode-policy-min-length">
                            Minimum passcode length
                            <span class="helper" title="Minimum number of characters allowed in a passcode">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <select id="passcode-policy-min-length" class="form-control operationDataKeys" data-key="passcodePolicyMinLength" data-default="0" disabled>
                            <option value="" selected="selected">
                                None
                            </option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcode-policy-min-complex-chars">
                            Minimum number of complex characters
                            <span class="helper" title="Minimum number of complex or non-alphanumeric characters allowed in a passcode">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <select id="passcode-policy-min-complex-chars" class="form-control operationDataKeys" data-key="passcodePolicyMinComplexChars" data-default="0" disabled>
                            <option value="" selected="selected">
                                None
                            </option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                        </select>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcode-policy-max-passcode-age-in-days">
                            Maximum passcode age in days
                            <span class="helper" title="Number of days after which a passcode must be changed">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            <br>
                            ( Should be in between 1-to-730 days or none )
                        </label>
                        <input id="passcode-policy-max-passcode-age-in-days" type="text" class="form-control operationDataKeys" data-key="passcodePolicyMaxPasscodeAgeInDays" maxlength="3" placeholder="[ Requires Number Input ]" disabled>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcode-policy-passcode-history">
                            Passcode history
                            <span class="helper" title="Number of consequent unique passcodes to be used before reuse">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            <br>
                            ( Should be in between 1-to-50 passcodes or none )
                        </label>
                        <input id="passcode-policy-passcode-history" type="text" class="form-control operationDataKeys" data-key="passcodePolicyPasscodeHistory" maxlength="2" placeholder="[ Requires Number Input ]" disabled>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcodePolicyMaxFailedAttempts">
                            Maximum number of failed attempts
                            <span class="helper" title="Maximum number of passcode entry attempts allowed before all data on a device will be erased">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <select id="passcode-policy-max-failed-attempts" class="form-control operationDataKeys" data-key="passcodePolicyMaxFailedAttempts" data-default="0" disabled>
                            <option value="" selected="selected">
                                None
                            </option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- /passcode-policy -->

        <!-- camera -->
        <div class="wr-hidden-operation" data-operation="camera">
            <div class="panel panel-default operation-data" data-operation="camera" data-operation-code="CAMERA">
                <div id="camera-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Restrictions on Camera
                        <label class="wr-input-control switch hidden" data-toggle="collapse" data-target="#camera-body">
                            <input type="checkbox" />
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                        <hr>
                        <div class="panel-title-description">
                            This configuration can be used to restrict the usage of camera on an Android device together with all the applications using the camera.
                            Once this configuration profile is installed on a device, corresponding users will not be able
                            to modify these settings on their devices.
                        </div>
                    </h2>
                </div>
                <div id="camera-body" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="camera-body">
                    <div id="camera-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    Un-check following checkbox in case you need to disable camera.
                    <br>
                    <br>
                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="camera-enabled" type="checkbox" class="operationDataKeys" data-key="cameraEnabled" checked="checked" disabled/>
                            <span class="helper" title="Having this checked would enable Usage of phone camera in the device.">
                                &nbsp;&nbsp;&nbsp;Allow use of camera
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- /camera -->

        <!-- encrypt-storage -->
        <div class="wr-hidden-operation" data-operation="encrypt-storage">
            <div class="panel panel-default operation-data" data-operation="encrypt-storage" data-operation-code="ENCRYPT_STORAGE">
                <div id="encrypt-storage-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Encryption Settings
                        <label class="wr-input-control switch hidden" data-toggle="collapse" data-target="#encrypt-storage-body">
                            <input type="checkbox" />
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                        <hr>
                        <div class="panel-title-description">
                            This configuration can be used to encrypt data on an Android device, when the device is locked and
                            make it readable when the passcode is entered. Once this configuration profile is installed on a device,
                            corresponding users will not be able to modify these settings on their devices.
                        </div>
                    </h2>
                </div>
                <div id="encrypt-storage-body" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="encrypt-storage-body">
                    <div id="encrypt-storage-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    Un-check following checkbox in case you need to disable storage-encryption.
                    <br>
                    <br>
                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="encrypt-storage-enabled" type="checkbox" class="operationDataKeys" data-key="encryptStorageEnabled" checked="checked" disabled/>
                            <span class="helper" title="Having this checked would enable Storage-encryption in the device">
                                &nbsp;&nbsp;&nbsp;Enable storage-encryption
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- /encrypt-storage -->

        <!-- wi-fi -->
        <div class="wr-hidden-operation" data-operation="wifi">
            <div class="panel panel-default operation-data" data-operation="wifi" data-operation-code="WIFI">
                <div id="wifi-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Wi-Fi Settings
                        <label class="wr-input-control switch hidden" data-toggle="collapse" data-target="#wifi-body">
                            <input type="checkbox" />
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                        <hr>
                        <div class="panel-title-description">
                            This configurations can be used to configure Wi-Fi access on an Android device.
                            Once this configuration profile is installed on a device, corresponding users will not be able
                            to modify these settings on their devices.
                        </div>
                    </h2>
                </div>
                <div id="wifi-body" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="wifi-body">
                    <!--<div class="cloneable">-->
                        <!--<a href="#" class="multi-view add enabled">-->
                            <!--<span class="icon fw-stack">-->
                                <!--<i class="fw fw-add fw-stack-1x"></i>-->
                                <!--<i class="fw fw-ring fw-stack-2x"></i>-->
                            <!--</span>-->
                        <!--</a>-->
                        <!--<a href="#" class="multi-view remove disabled">-->
                            <!--<span class="icon fw-stack">-->
                                <!--<i class="fw fw-minus fw-stack-1x"></i>-->
                                <!--<i class="fw fw-ring fw-stack-2x"></i>-->
                            <!--</span>-->
                        <!--</a>-->
                        <!--Wi-Fi Setting :-->
                        <!--<br>-->
                        <!--<br>-->
                        Please note that * sign represents required fields of data.
                        <br>
                        <br>
                        <div id="wifi-feature-error-msg" class="alert alert-danger hidden" role="alert">
                            <i class="icon fw fw-error"></i><span></span>
                        </div>
                        <div class="wr-input-control">
                            <label class="wr-input-label" for="wifi-ssid">
                                Service Set Identifier (SSID) *
                                <span class="helper" title="Identification of the wireless network to be configured.">
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                                <br>
                                ( should be 1-to-30 characters long )
                            </label>
                            <input id="wifi-ssid" type="text" class="form-control operationDataKeys" data-key="wifiSSID" maxlength="100" placeholder="[ Required field ]" disabled/>
                        </div>
                        <div class="wr-input-control">
                            <label class="wr-input-label" for="wifi-password">
                                Password
                                <span class="helper" title="Password for the wireless network.">
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                            </label>
                            <input id="wifi-password" type="text" class="form-control operationDataKeys" data-key="wifiPassword" maxlength="100" placeholder="[ Optional field ]" disabled/>
                        </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!-- /wi-fi -->

        <!-- install-applications -->
        <!--<div class="wr-hidden-operation" data-operation="install-apps">-->
            <!--<div class="panel panel-default operation-data" data-operation="INSTALL_APPLICATION">-->
                <!--<div class="panel-heading" role="tab">-->
                    <!--<h2 class="sub-title panel-title">-->
                        <!--<br>-->
                        <!--&nbsp;&nbsp;&nbsp;App Installations-->
                        <!--<label class="wr-input-control switch" data-toggle="collapse" data-target="#installApp">-->
                            <!--<input type="checkbox" />-->
                            <!--<span class="helper"></span>-->
                            <!--<span class="text"></span>-->
                        <!--</label>-->
                        <!--<br>-->
                        <!--<br>-->
                    <!--</h2>-->
                <!--</div>-->
                <!--<div id="installApp" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="installApp">-->
                    <!--<div id="install-app-feature-error-msg" class="alert alert-danger hidden" role="alert">-->
                        <!--<i class="icon fw fw-error"></i><span></span>-->
                    <!--</div>-->
                    <!--<label class="wr-input-label" title="Application Identifier">App Identifier<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>-->

                    <!--<div class="wr-input-control">-->
                        <!--<input type="text" class="form-control operationDataKeys" id="package-name" data-key="packageName" placeholder="Enter App Identifier"/>-->
                    <!--</div>-->
                    <!--<div class="wr-input-control">-->
                        <!--<label class="wr-input-control dropdown">-->
                            <!--<span class="helper" title="App Type">App Type<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>-->
                            <!--<select class="form-control col-sm-8 operationDataKeys appTypesInput" id="type" data-key="type">-->
                                <!--<option>Public</option>-->
                                <!--<option>Enterprise</option>-->
                            <!--</select>-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<label class="wr-input-label" title="URL">URL<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>-->

                    <!--<div class="wr-input-control">-->
                        <!--<input type="text" class="form-control operationDataKeys" id="url" data-key="url" placeholder="Enter URL"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!-- /install-applications -->

        <!-- /uninstall-applications -->
        <!--<div class="wr-hidden-operation" data-operation="uninstall-apps">-->
            <!--<div class="panel panel-default operation-data" data-operation="UNINSTALL_APPLICATION">-->
                <!--<div class="panel-heading" role="tab">-->
                    <!--<h2 class="sub-title panel-title">-->
                        <!--<br>-->
                        <!--&nbsp;&nbsp;&nbsp;App Uninstallations-->
                        <!--<label class="wr-input-control switch" data-toggle="collapse" data-target="#uninstallApp">-->
                            <!--<input type="checkbox" />-->
                            <!--<span class="helper"></span>-->
                            <!--<span class="text"></span>-->
                        <!--</label>-->
                        <!--<br>-->
                        <!--<br>-->
                    <!--</h2>-->
                <!--</div>-->
                <!--<div id="uninstallApp" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="uninstallApp">-->
                    <!--<div id="uninstall-app-feature-error-msg" class="alert alert-danger hidden" role="alert">-->
                        <!--<i class="icon fw fw-error"></i><span></span>-->
                    <!--</div>-->
                    <!--<label class="wr-input-label" title="Application Identifier">App Identifier<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>-->
                    <!--<!--span>Identification of the wireless network to connect to</span-->
                    <!--<div class="wr-input-control">-->
                        <!--<input type="text" class="form-control operationDataKeys" id="package-name" data-key="packageName" placeholder="Enter App Identifier"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!-- /uninstall-applications -->

        <!-- /web-clips -->
        <!--<div class="wr-hidden-operation" data-operation="web-clips">-->
            <!--<div class="panel panel-default operation-data" data-operation="WEBCLIP">-->
                <!--<div class="panel-heading" role="tab">-->
                    <!--<h2 class="sub-title panel-title">-->
                        <!--<br>-->
                        <!--&nbsp;&nbsp;&nbsp;Web clips-->
                        <!--<label class="wr-input-control switch" data-toggle="collapse" data-target="#installWebClip">-->
                            <!--<input type="checkbox" />-->
                            <!--<span class="helper"></span>-->
                            <!--<span class="text"></span>-->
                        <!--</label>-->
                        <!--<br>-->
                        <!--<br>-->
                    <!--</h2>-->
                <!--</div>-->
                <!--<div id="installWebClip" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="installWebClip">-->
                    <!--<div id="install-webclip-feature-error-msg" class="alert alert-danger hidden" role="alert">-->
                        <!--<i class="icon fw fw-error"></i><span></span>-->
                    <!--</div>-->
                    <!--<label class="wr-input-label" title="Title of the web clip">Title<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>-->
                    <!--<div class="wr-input-control">-->
                        <!--<input type="text" class="form-control operationDataKeys" id="title" data-key="title" placeholder="Enter Title"/>-->
                    <!--</div>-->
                    <!--<label class="wr-input-label" title="URL">URL<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>-->
                    <!--<div class="wr-input-control">-->
                        <!--<input type="text" class="form-control operationDataKeys" id="url" data-key="url" placeholder="Enter URL"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!-- /web-clips -->
    </div>
</div>