{{#zone "main"}}
    <div class="row">
        <div class="col-lg-12 wr-secondary-bar">
            <div class="col-lg-8 col-md-9 col-sm-6 wr-filters">
                <div class="wr-asset-type-switcher">
                    <a href="#" class="ctrl-asset-type-switcher" data-placement="bottom" data-trigger="focus">
                    <span class="btn-asset"></span></a>
                </div>

                <div class="wr-search">
                    <div>
                        <div></div>
                    </div>
                    <div>
                        <input type="text" class="" placeholder="Search devices ..." /><a href="#" class="btn-search"><span class="glyphicon glyphicon-search"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6 wr-filters">
                <div class="wr-filter-sort pull-right">
                        <a href="#" class="ico-filter ctrl-filter-grid"><img src="{{self.publicURL}}/img/icons/ico-grid.png" /></a>
                        <a href="#" class="ico-filter ctrl-filter-list"><img src="{{self.publicURL}}/img/icons/ico-list.png" /></a>
                        <a href="#" class="ico-filter ctrl-filter-sort dropdown-toggle" data-toggle="dropdown"><img src="{{self.publicURL}}/img/icons/ico-sort.png" /></a>
                        <div class="dropdown-menu">
                            <div class="cu-arrow"></div>
                            <div class="dropdown-menu-content">
                                <a class="filter-item">Name</a>
                                <a class="filter-item">Version</a>
                                <a class="filter-item">Publisher</a>
                                <a class="filter-item">Date/Time Created</a>
                            </div>
                        </div>
                </div>
            </div>  
        </div>
    </div>
{{/zone}}