{{layout "enrollment"}}
{{#zone "additionalInput"}}
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            BYOD (This device is my own device)
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            COPE (This device is a corporate device)
        </label>
    </div>
{{/zone}}