{{#zone "additionalInput"}}
    <div class="radio">
        <label>
            <input type="radio" name="ownership" id="optionsRadios1" value="BYOD" checked>
            BYOD (This device is my own device)
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="ownership" id="optionsRadios2" value="COPE">
            COPE (This device is a corporate device)
        </label>
    </div>
{{/zone}}