{{#zone "licenseZone"}}
    <h4>License Agreement</h4>

    <h3>WSO2 Bring Your Own Device (BYOD) POLICY</h3>

    <p>WSO2 grants its employees the privilege of purchasing and using personal mobile devices including smartphones and tablets at work for their convenience. WSO2 employees must agree to the terms and conditions set forth in this policy in order to be able to connect their mobile devices to WSO2's Corporate Network. WSO2 reserves the right to revoke this privilege if employees do not abide by the conditions mentioned in the policy.</p>
    <p>WSO2 employees must agree to the terms and conditions set forth in this policy in order to be able to connect their mobile devices to WSO2's Corporate Network.</p>
    <p>WSO2 grants its employees the privilege of purchasing and using personal mobile devices including smartphones and tablets at work for their convenience. WSO2 employees must agree to the terms and conditions set forth in this policy in order to be able to connect their mobile devices to WSO2's Corporate Network. WSO2 reserves the right to revoke this privilege if employees do not abide by the conditions mentioned in the policy.</p>
    <p>WSO2 grants its employees the privilege of purchasing and using personal mobile devices including smartphones and tablets at work for their convenience. WSO2 employees must agree to the terms and conditions set forth in this policy in order to be able to connect their mobile devices to WSO2's Corporate Network. WSO2 reserves the right to revoke this privilege if employees do not abide by the conditions mentioned in the policy.</p>
    <p>WSO2 grants its employees the privilege of purchasing and using personal mobile devices including smartphones and tablets at work for their convenience. WSO2 employees must agree to the terms and conditions set forth in this policy in order to be able to connect their mobile devices to WSO2's Corporate Network. WSO2 reserves the right to revoke this privilege if employees do not abide by the conditions mentioned in the policy.</p>
{{/zone}}

{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/license-agreement-box-enrollment.js"></script>
{{/zone}}