{{#zone "main"}}
    <a href="javascript:showOperations()" class="cu-btn-inner show-operations-btn" id="showOperationsBtn">
        Operations
                        <span class="fw-stack">
                            <i class="fw fw-tiles fw-stack-1-5x"></i>
                        </span>
    </a>
    <!-- operations container -->
    <div class="wr-operations">
    </div>
    <!-- /operations container -->
{{/zone}}

{{#zone "bottomJs"}}
    <script id="operations-bar" src="{{self.publicURL}}/templates/operations.hbs" type="text/x-handlebars-template" ></script>
    <script src="{{self.publicURL}}/js/operation-bar.js"></script>
{{/zone}}