{{#zone "brand"}}
    <img src="{{self.publicURL}}/img/logo.png" alt="wso2" title="wso2" class="logo">
    <h1>Enterprise Mobility Manager</h1>
{{/zone}}
{{#zone "favicon"}}
    <link rel="shortcut icon" type="image/png" href="{{self.publicURL}}/img/favicon.png"/>
{{/zone}}

