{{#zone "notification"}}
    <div class="wr-notification-bar">
        <div class="wr-notification-desc new">
            <div class="wr-notification-operation">Device Lock Operation Successful!</div>
            <div class="wr-notification-time">14 seconds ago</div>
            <hr />
        </div>
        <div class="wr-notification-desc new">
            <div class="wr-notification-operation">Device Lock Operation Successful!</div>
            <div class="wr-notification-time">14 seconds ago</div>
            <hr />
        </div>
        <div class="wr-notification-desc">
            <div class="wr-notification-operation">Device Lock Operation Successful!</div>
            <div class="wr-notification-time">14 seconds ago</div>
            <hr />
        </div>
    </div>
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/notification-panel.js"></script>
{{/zone}}