{{#zone "main"}}
    <div class="row">
        <div class="container col-md-4 wr-buttons">
            <a href="{{rootCertificateURL}}" class="btn-download-agent">Download Root Certificate</a>
        </div>
        <div class="container col-md-9">
        </div>
    </div>
{{/zone}}