{{#zone "main"}}
    <div class="row">
        <div class="container col-md-4 wr-buttons">
            <a href="/ios/enrollment/CA" class="btn-download-agent">Download Root Certifcate</a>
        </div>
        <div class="container col-md-9">
        </div>
    </div>
{{/zone}}