{{#zone "main"}}
    <!-- content/body -->
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <div id="role-create-form" class="container col-centered wr-content">
                <div class="wr-form">
                    <p class="page-sub-title">Add Role</p>
                    <p>Please note that * sign represents required fields of data.</p>
                    <hr />
                    <div class="row">
                        <div class="col-lg-8">
                            <div id="role-create-error-msg" class="alert alert-danger hidden" role="alert">
                                <i class="icon fw fw-error"></i><span></span>
                            </div>
                            <label class="wr-input-label">Domain</label>
                            <div class="wr-input-control">
                                <select id="domain" class="form-control select" >
                                    <option>PRIMARY</option>
                                    {{#each userStores}}
                                        <option>{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <label class="wr-input-label">
                                Role Name * <br>
                                ( should be in minimum 3 characters long, lower-case and not include any whitespaces )
                            </label>
                            <div class="wr-input-control">
                                <input type="text" id="rolename" class="form-control" placeholder="[ Required field ]"/>
                            </div>
                            <label class="wr-input-label">
                                User list
                            </label>
                            <div class="wr-input-control">
                                <select id="users" class="form-control select2" multiple="multiple">
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button id="add-role-btn" class="wr-btn">&nbsp;&nbsp;&nbsp;&nbsp;Add Role&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
            </div>
            <div id="role-created-msg" class="container col-centered wr-content hidden">
                <div class="wr-form">
                    <p class="page-sub-title">Role was added successfully.</p>
                    <br>Please click <b>"Add Another Role"</b>, if you wish to add another role or click
                    <b>"View Role List"</b> to complete the process and go back to the role list.
                    <hr />
                    <button class="wr-btn" onclick="window.location.href='/mdm/roles'">View Role List</button>
                    <a href="/mdm/roles/add-role" class="cu-btn-inner">
                        <span class="fw-stack">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw fw-add fw-stack-1x"></i>
                        </span>
                        Add Another Role
                    </a>
                </div>
            </div>
            <!-- /content -->
        </div>
    </div>
    <!-- /content/body -->
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/bottomJs.js"></script>
{{/zone}}

