{{#zone "main"}}
    <div class="row">

        <div class="container col-md-8 wr-text">
            <div class="wr-head"><h2>{{header}}</h2></div>
            <p>If you are not registered with WSO2 Mobile Device Manager, Please download and install the Agent.</p>
        </div>
        <div class="container col-md-4">
        </div>
    </div>
    <div class="row">
        {{#if rootCertificateURL}}
            <div class="container col-md-4 wr-buttons">
                <a href="{{rootCertificateURL}}" class="btn-download-agent">Download Root Certificate</a>
            </div>
        {{/if}}
        <div class="container col-md-4 wr-buttons">
            <a href="{{link}}"
               class="btn-download-agent">Download Agent</a>
        </div>
        <div class="container col-md-9">
        </div>
    </div>
{{/zone}}