{{layout "enrollment"}}
{{#zone "body"}}
    <div class="row">
        <div class="col-lg-12 text-center">
            <p><strong>If you are not registered with WSO2 EMM, please download and install the Agent</strong></p>
            <button type="button" class="btn btn-default">
                Download Agent
            </button>
        </div>
    </div>
{{/zone}}