{{layout "enrollment"}}
{{#zone  "title"}}
    Download Agent
{{/zone}}
{{#zone "body"}}
    <div class="container c-both">
        <div class="clearfix"> </div>
        {{unit "wizard" page=1}}
        {{unit "asset-download-agent"}}
    </div>
{{/zone}}