{{authorized}}
{{layout "fluid"}}
{{#zone  "title"}}
    WSO2 MDM | Device Management
{{/zone}}
{{#zone "body"}}
	{{unit "appbar"}}
    <div class="wr-content">

        <div class="row wr-stats-board">

            <div class="col-md-3">
                <div class="wr-stats-board-tile">
                    <div class="tile-name">Devices</div>
                    <div>
                        <div class="tile-icon"><i class="fw fw-devices"></i></div>
                        <div class="tile-stats">
                            532
                            <span class="tile-stats-free">
                                <a href="home.html">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-view fw-stack-1x"></i>
                                    </span>
                                    View
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wr-stats-board-tile">
                    <div class="tile-name">Users</div>
                    <div>
                        <div class="tile-icon"><i class="fw fw-user"></i></div>
                        <div class="tile-stats">
                            503
                            <span class="tile-stats-free">
                                <a href="users.html">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-view fw-stack-1x"></i>
                                    </span>
                                    View
                                </a>
                                <a href="user-create.html">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-add fw-stack-1x"></i>
                                    </span>
                                    Add
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wr-stats-board-tile">
                    <div class="tile-name">Configuration Profiles</div>
                    <div>
                        <div class="tile-icon"><i class="fw fw-settings"></i></div>
                        <div class="tile-stats">
                            26
                            <span class="tile-stats-free">
                                <a href="profiles.html">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-view fw-stack-1x"></i>
                                    </span>
                                    View
                                </a>
                                <a href="profile-create.html">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-add fw-stack-1x"></i>
                                    </span>
                                    Add
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wr-stats-board-tile">
                    <div class="tile-name">Policies</div>
                    <div>
                        <div class="tile-icon"><i class="fw fw-policy"></i></div>
                        <div class="tile-stats">
                            8
                            <span class="tile-stats-free">
                                <a href="policies.html">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-view fw-stack-1x"></i>
                                    </span>
                                    View
                                </a>
                                <a href="policy-create.html">
                                    <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-add fw-stack-1x"></i>
                                    </span>
                                    Add
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{{/zone}}