{{layout "enrollment"}}
{{#zone "body"}}
    <div class="container c-both">

        {{unit "wizard" page=4}}
        <div class="row">
            <div class="container col-md-8 wr-text">
                <div class="wr-head"><h2>Step 4. Complete MDM Registration</h2></div>
            </div>
        </div>
        {{unit "license-agreement-box-enrollment"}}
    </div>
{{/zone}}