{{layout "enrollment"}}
{{#zone "body"}}
    <div class="container c-both">
        <div class="clearfix"> </div>
        {{unit "wizard" page=3}}
        {{unit "license-agreement-box-enrollment"}}
    </div>
{{/zone}}