{{layout "enrollment"}}
{{#zone "body"}}
    <div class="container c-both">
        <div class="clearfix"> </div>
        {{unit "wizard" page=3}}
        <div class="row">

            <div class="container col-md-8 wr-text">
                <div class="wr-head"><h2>Step 3. Login to Mobile Device Manager</h2></div>
            </div>
        </div>
        {{unit "login-box"}}
    </div>
{{/zone}}