{{layout "enrollment"}}
{{#zone "body"}}
    <div class="container c-both">
        <div class="clearfix"> </div>
        {{unit "wizard" page=2}}
        {{unit "login-page-agent"}}
        {{unit "login-box"}}
    </div>
{{/zone}}