{{layout "enrollment"}}
{{#zone "body"}}
    <div class="container c-both">
        <div class="clearfix"></div>
        {{unit "wizard" page=2}}
        <div class="row">
            <div class="container col-md-8 wr-text">
                <div class="wr-head"><h2>Step 2. Download the Root Certificate</h2></div>
                <p>The Root Certificate needs to be downloaded to your device before you can enroll to the Mobile Device
                    Manager.</p>
            </div>
            <div class="container col-md-4">
            </div>
        </div>
        {{unit "asset-download-ca"}}
    </div>
{{/zone}}