{{layout "enrollment"}}
{{#zone "body"}}
    <div class="row">
        <div class="col-lg-12 text-center">
            <p><strong>The Root certificate needs to be downloaded to your device before you can enroll to the EMM</strong></p>
            <button class="btn btn-default">
                Download the Root Certificate
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <p><strong>After downloading the Root Certificate to your device,</strong></p>
            <button class="btn btn-default">
                EMM Login Page
            </button>
        </div>
    </div>
{{/zone}}