{{layout "enrollment"}}
{{#zone "body"}}
    {{unit "thank-you-unit"}}
    <div class="container c-both">
        <div class="clearfix"></div>
        <div class="row">
            <div class="container col-md-12 wr-text">
                <h1 class="text-center">You have successfully registered in EMM</h1>
            </div>
        </div>
    </div>
{{/zone}}