{{#zone "main"}}
    <span id="permission" data-permission="{{permissions}}"></span>
    <div id="ast-container" class="ast-container">
        <br class="c-both" />
    </div>
{{/zone}}
{{#zone "bottomJs"}}
    <script id="device-listing" data-image-resource="{{self.publicURL}}/images/" src="{{self.publicURL}}/templates/device-listing.hbs" type="text/x-handlebars-template" ></script>
    <script src="{{self.publicURL}}/js/device-listing.js"></script>
{{/zone}}